# Godot 4+ specific ignores
.godot/
export/

# LOL ignoring these cuz i often add custom stuff to my builds
# and i don't wanna accidentally push mod stuff to the engine
# I should refactor the assets folder later to accomodate for this type of situation
# -BeastlyGabi
assets/songs/*
game/scenes/menus/FreeplayMenu.tscn